<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="|Patient - ${patient.firstName}|"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<section>
    <h1>Info Patient</h1>
    <table>
        <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>BirthDate</th>
            <th>Gender</th>
            <th>PhoneNumber</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td th:text="${patient.birthDate}"></td>
            <td th:text="${patient.gender}"></td>
            <td th:text="${patient.phoneNumber}"></td>
            <td th:text="${patient.address}"></td>
        </tr>
        </tbody>
    </table>
</section>

<section>
    <h2>Historique</h2>
    <div sec:authorize="hasRole('PRACTITIONER')">
        <a th:href="@{/patients/{id}/notes/new(id=${patient.id})}" class="btn btn-primary">Ajouter une note</a>
    </div>

    <div th:each="note : ${notes}" style="white-space: pre-wrap;" th:text="${note.note}"></div>

</section>

<section>
    <h2>Risque</h2>
    <div style="white-space: pre-wrap;" th:text="${risk.level}"></div>
</section>


</body>
</html>